<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{% static 'bootcamp/assets/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'bootcamp/assets/bootstrap.css' %}"/>
    <script src="{% static 'bootcamp/assets/jquery.js' %}"></script>
    <script src="{% static 'bootcamp/assets/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootcamp/assets/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Incwell Bootcamp</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139628199-1"></script>
  
  {% block script %}

{% endblock script %}
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139628199-1');
  </script>
  <link rel="stylesheet" href="{% static 'bootcamp/assets/wow/animate.css' %}"/>

  <script src="{% static 'bootcamp/assets/wow/animate.js' %}"></script>

  <script>
    new WOW().init();
  </script>
  <!-- Google analytics end -->
    </head>
  <body>
    {% block index %}
    
    {% endblock index %}
    
    {% block courses %}
    
    {% endblock courses %}

    <div class="body-container">
      <nav class="navbar navibar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'bootcamp/assets/Bootcamp (1).png' %}" class="logo"/></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="navlist">
              <a href="#" class="navlink"> About Us</a>
            </li>
            <li class="navlist">
              <a href="{% url 'courses' %}" class="navlink {% if request.path == '/courses' %} active {% endif %}">Courses</a>
            </li>
            <li class="navlist">
              <a href="{% url 'mentors' %}" class="navlink {% if request.path == '/mentors' %} active {% endif %}"> Mentors</a>
            </li>
            <li class="navlist">
              <a href="#" class="navlink">Contact</a>
            </li>
            <li class="unset-nav">
              <a href="{% url 'enroll' %}" class="navlink-Enroll"> Enroll</a>
            </li>
          </ul>
        </div>
      </nav>
    {% block content %}

    {% endblock content %}
    </div>
   </body>
</html>
