{% extends "bootcamp/layout.html" %}
{% load static %}

{% block course-container %}
class="background-changer"
{% endblock course-container %}

{% block courses %}
<div class="static-back">
    <div class="grayish"></div>
    <div class="whiter"></div>
</div>
<div class="image-bg-mentors">
      <div class="bg-image-container">
        <img src="{% static 'bootcamp/assets/bkg-mentors.png' %}" class="bkg-image" />
      </div>
      <div class="aboutus-top-text">Select From our Various Courses</div>
      <div class="aboutus-down-text">
      If you are unsure about what to study you can talk to our advisors at any time at your convinience.
        
      </div>
    </div>
{% endblock courses %}

{% block content %}
<div class="title-courses">Courses</div>
    <div class="grid-maker-course">
        {% for course in courses %}
            <div class="box-courses">
                <div class="course-holder">
                    <div class="imageholder">
                    <img class="course-img" src="{% static course.image %}" />
                    </div>
                    <div class="course-details-holder">
                    <div class="details-course">
                        <div class="name">{{course.name}}</div>
                        <div class="course-description">
                            <ul>
                            <li>{{course.description}}</li>
                            </ul>
                            <ul>
                                <li>Start Time: {{course.start_time}}</li>
                                <br/>
                                <li>End Time: {{course.end_time}}</li>
                            </ul>
                            <div class="readmore"><i class="fa fa-angle-down"></i></div>
                        </div>
                        <a href="{% url 'contact' %}">
                        <div class="talk">Talk to Advisor</div>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
     
    </div>
    <div class="apply-scholarship">
        <a href="{% url 'scholarship' %}" class="btn btn-success btn-lg">Apply For Scholarship</a>
    </div>
{% endblock content %}