{% extends "bootcamp/layout.html" %}
{% load static %}

{% block course-container %}
class="body-maker"
{% endblock course-container %}

{% block courses1 %}
<div class="static-back">
    <div class="grayish"></div>
    <div class="whitemaker"></div>
</div>

{% endblock courses1 %}
{% block courses2 %}
    
    <div class="image-bg-aboutus">
      <div class="bg-image-container">
        <img src="{% static 'bootcamp/assets/bkg-mentors.png' %}" class="bkg-image" />

      </div>
      <div class="top-text-container">
        <div class="aboutus-top-text1">Select From our Various Courses</div>
        <div class="aboutus-down-text">

          If you are unsure about what to study you can talk to our advisors at any time at your convinience.
        </div>
      </div>
    </div>
    <script>
    function loader() {
      var topImageContainer = document.getElementsByClassName("image-bg-aboutus")[0];
      var image = document.getElementsByClassName("bg-image-container")[0];
      var imageHeight = image.clientHeight;
      var topText = document.getElementsByClassName("top-text-container")[0];
      var textHeight = topText.clientHeight;
      topImageContainer.style.height = image.clientHeight + "px";
      topText.style.paddingTop = (imageHeight / 2 - textHeight / 2) + "px";
      
    }
     $(document).ready(async () => {
      await loader();

    })
  </script>
{% endblock courses2 %}

{% block content %}
<div class="AboutUs-title">Courses</div>
    <div class="grid-maker-course">
        {% for course in courses %}
            <div class="box-courses">
                <div class="course-holder">
                    <div class="imageholder">
                    <img class="course-img" src="{% static course.image %}" />
                    </div>
                    <div class="course-details-holder">
                    <div class="details-course">
                        <div class="name">{{course.name}}</div>
                        <div class="course-description">
                            <ul>
                            <li>{{course.description}}</li>
                            </ul>
                            <ul>
                                <li>Start Time: {{course.start_time}}</li>
                                
                                <li>End Time: {{course.end_time}}</li>
                            </ul>
                            <div class="readmore"><i class="fa fa-angle-down"></i></div>
                        </div>
                        <a href="{% url 'contact' %}">
                        <div class="talk">Talk to Advisor</div>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
     
    </div>
    <div class="apply-scholarship">
        <a href="{% url 'scholarship' %}" class="btn btn-primary btn-lg">Apply For Scholarship</a>
    </div>
{% endblock content %}