{% extends "bootcamp/base.html" %}

{% block mentors %}
{% endblock mentors %}

{% block index %}
{% endblock index %}

{% block script %}
{% endblock script %}

{% block courses %}
{% endblock courses %}

{% block content %}
      <div class="main">
        <div class="chart-container">
          <img src="CHARCTER.svg" class="character" />
        </div>
        <div class="main-text">
          start your career path
          <button class="explore-button">Explore Now</button>
        </div>
      </div>
    </div>
{% endblock content %}

{% block events-script %}

{% endblock events-script %}