{% extends "bootcamp/layout.html" %}
{% load static %}

{% block mentors1 %}
<div class="static-back">
  <div class="grayish"></div>

  <div class="white"></div>
</div>

{% endblock mentors1 %}
{% block mentors2 %}
<div class="image-bg-aboutus">
  <div class="bg-image-container">
    {% if mentors_pic %}
    <img src="{% static mentors_pic %}" class="bkg-image" />
    {% else %}
    <img src="{% static 'bootcamp/assets/MentorsBannerSite.png' %}" class="bkg-image" />
    {% endif %}
  </div>
</div>
{% endblock mentors2 %}

{% block content %}
<div class="mentors-showcase">
  <div class="showcase-text">
    <div class="showcase-text-top">Meet Our Mentors!</div>
    <div class="showcase-text-bottom">How We Screen Applicants</div>
  </div>
  <div class=" showcase-cards">
    <div class="showcase-card">
      <img src="{% static 'bootcamp/assets/mentors-trophy.png' %}" class="wow fadeInLeft" />
      <div class="showcase-card-text-top">Technical Expertise</div>
      <div class="showcase-card-text-bottom">
        <div class="showcase-card-text-bottom-head">Technical skills, knowledge sharing</div>
        <div class="showcase-card-text-bottom-head">skills, portfolios, professional experience.</div>
      </div>
    </div>
    <div class="showcase-card">
      <img src="{% static 'bootcamp/assets/mentors-monitor.png' %}" class="wow bounce" />
      <div class="showcase-card-text-top">Skype Interview</div>
      <div class="showcase-card-text-bottom">
        <div class="showcase-card-text-bottom-head">We conduct a technical interview</div>
        <div class="showcase-card-text-bottom-head">with our ninjas over skype.</div>
      </div>
    </div>
    <div class="showcase-card">
      <img src="{% static 'bootcamp/assets/mentors-handshake.png' %}" class="wow fadeInRight" />
      <div class="showcase-card-text-top">Mock Test</div>
      <div class="showcase-card-text-bottom">
        <div class="showcase-card-text-bottom-head">Review on clean code, best</div>
        <div class="showcase-card-text-bottom-head">practices, design patterns, test cases, git, peer review.</div>
      </div>
    </div>
  </div>
</div>

<div class="mentors-carousel">
  <div class="mentors-title">
    Mentors
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" id="carosel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">
        All
      </li>
      {% for category in categories %}
      <li data-target="#myCarousel" data-slide-to="{{forloop.counter}}">{{category}}</li>
      {% endfor %}
    </ol>
    {% for mentor in mentors_all %}
    <div id="myModal{{mentor.id}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
                          
                        </div> -->
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <div class="model-container">
              <div class="model-img-container">
                <img src="{% static mentor.image %}" class="model-img" />
              </div>
              <div class="model-description">
                <div>
                  <div class="title-popup popupdiv">{{mentor.designation}}</div>
                  <div class="popupdiv">{{mentor.firstName}} {{mentor.lastName}}</div>
                  <div class="popupdiv">
                    {{mentor.summary}}
                  </div>
                </div>
                <div>
                  <div class="title-popup popupdiv">Skills:</div>
                  <div class="skills-grid popupdiv">
                    {% for skill in mentor.skills %}
                    <div class="skill-box">{{ skill }}</div>
                    {% endfor %}
                  </div>
                </div>
                <div class="social popupdiv">
                  <ul>
                    <a href="https://www.facebook.com/{{mentor.facebook}}" target="_blank">
                      <li class="facebook-li">
                        <i class="fa fa-facebook icon"></i>
                      </li>
                    </a>
                    <a href="https://www.twitter/{{mentor.twitter}}" target="_blank">
                      <li class="twitter-li">
                        <i class="fa fa-twitter icon"></i>
                      </li>
                    </a>
                    <a href="https://www.medium.com/@{{mentor.medium}}" target="_blank">
                      <li class="medium-li">
                        <span class="icon" style="font-weight:bold;font-family:Times New Roman;">M</span>
                      </li>
                    </a>
                    <a href="https://www.linkedin.com/{{mentor.linkedIn}}" target="_blank">
                      <li class="linkedin-li">
                        <i class="fa fa-linkedin icon"></i>
                      </li>
                    </a>
                    <a href="https://github.com/{{mentor.github}}" target="_blank">
                      <li class="github-li">
                        <i style="color:white !important;" class="fa fa-github icon"></i>
                      </li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- Wrapper for slides -->
    <div class="carousel-inner-wrapper">
      <div class="carousel-inner">
        <div class="item active">
          <div class="mentor-grid-display">


            {% for mentor in mentors_all %}
            <div class="mentor-grid-child">
              <div class="mentor-image-container">
                <img src="{% static mentor.image %}" data-toggle="modal" data-target="#myModal{{mentor.id}}" />
              </div>
              <div class="mentor-description">
                <div class="mentor-description-name">{{mentor.firstName}} {{mentor.lastName}}</div>
                <div class="mentor-description-title">{{mentor.designation}}</div>
                <div class="social">
                  <ul>
                    <a href="https://www.facebook.com/{{mentor.facebook}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-facebook icon-facebook"></i>
                      </li>
                    </a>
                    <a href="https://www.medium.com/@{{mentor.medium}}" target="_blank">
                      <li class="social-main">
                        <span class="icon-medium" style="text-weight:bold;font-family:Times New Roman;">M</span>
                      </li>
                    </a>
                    <a href="https://www.twitter/{{mentor.twitter}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-twitter icon-twitter"></i>
                      </li>
                    </a>
                    <a href="https://www.linkedin.com/{{mentor.linkedIn}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-linkedin icon-linkedin"></i>
                      </li>
                    </a>
                    <a href="https://github.com/{{mentor.github}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-github icon-github"></i>
                      </li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>


            {% endfor %}
          </div>
        </div>
        <!-- Comment Start-->

        {% for category in categories %}
        <div class="item">
          <div class="mentor-grid-display">
            {% for mentor in mentors %}

            {% if mentor.category == category %}

            <div class="mentor-grid-child">
              <div class="mentor-image-container">
                <img src="{% static mentor.image %}" data-toggle="modal" data-target="#myModal{{mentor.id}}" />
              </div>
              <div class="mentor-description">
                <div class="mentor-description-name">{{mentor.firstName}} {{mentor.lastName}}</div>
                <div class="mentor-description-title">{{mentor.designation}}</div>
                <div class="social">
                  <ul>
                    <a href="https://www.facebook.com/{{mentor.facebook}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-facebook icon-facebook"></i>
                      </li>
                    </a>
                    <a href="https://www.medium.com/@{{mentor.medium}}" target="_blank">
                      <li class="social-main">
                        <span class="icon-medium" style="text-weight:bold;font-family:Times New Roman;">M</span>
                      </li>
                    </a>
                    <a href="https://www.twitter/{{mentor.twitter}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-twitter icon-twitter"></i>
                      </li>
                    </a>
                    <a href="https://www.linkedin.com/{{mentor.linkedin}}" target="_blank">
                      <li class="social-main">
                        <i class="fa fa-linkedin icon-linkedin"></i>
                      </li>
                    </a>
                    <a href="https://github.com/{{mentor.github}}">
                      <li class="social-main">
                        <i class="fa fa-github icon-github"></i>
                      </li>
                    </a>
                  </ul>
                </div>
              </div>
            </div>


            {% endif %}

            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <!-- Comment End-->

      </div>
    </div>
  </div>
</div>

<div class="blog-container">
  <div class="blog-title">
    Read our mentors' published articles on Medium
  </div>
  <div class="blog-grid">
    <a href="https://medium.com/incwell-bootcamp/declaring-variables-in-kotlin-64d6261144ae" target="_blank">
      <div class="blog-grid-child">
        <div class="blog-img-container">
          <img src="{% static 'bootcamp/assets/kotlin.png' %}">
        </div>
        <div class="blog-text">
          <div class="blog-text-up">"Declaring variables in Kotlin"
          </div>
        </div>
      </div>
    </a>
    <a href="https://medium.com/incwell-bootcamp/mutable-vs-immutable-ff86845f5879" target="_blank">
      <div class="blog-grid-child">
        <div class="blog-img-container">
          <img src="{% static 'bootcamp/assets/Mutable.png' %}">
        </div>
        <div class="blog-text">
          <div class="blog-text-up">"Mutable Vs. Immutable"
          </div>
        </div>
      </div>
    </a>
    <a href="https://medium.com/incwell-bootcamp/how-we-made-the-intro-video-for-bootcamp-96569e746c20" target="_blank">
      <div class="blog-grid-child">
        <div class="blog-img-container">
          <img src="{% static 'bootcamp/assets/Video.png' %}">
        </div>
        <div class="blog-text">
          <div class="blog-text-up">"Bootcamp Intro Video: Behind the Scenes"
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<script>
  function loader() {
    var imageContainers = document.getElementsByClassName("mentor-image-container");
    var imageWidth = imageContainers[0].clientWidth;
    var maxheight = 0;
    console.log(imageWidth);
    for (var i = 0; i < imageContainers.length; i++) {
      imageContainers[i].style.height = (imageWidth - 1) + "px";
    }
    var desc = document.getElementsByClassName("mentor-description");
    for (var j = 0; j < desc.length; j++) {
      if (desc[j].clientHeight > maxheight) {
        maxheight = desc[j].clientHeight;
      }
    }
    console.log("max" + maxheight);
    for (var j = 0; j < desc.length; j++) {
      desc[j].style.height = maxheight + "px";
    }

  }
  $(document).ready(async () => {
    await loader();

  })
</script>
{% endblock content %}