{% extends "bootcamp/layout.html" %}
{% load static %}

{% block content %}
<br/>
<br/>
<br/>
{% if messages %}
    {% include 'bootcamp/notification.html' %}
{% endif %}

{% if error %}
    {% for err in error %}
        {{err}}
    {% endfor %}
{% endif %}
 <div class="main">
        <form name="enroll_form" method="POST">
        {% csrf_token %}
        firstName <input type="text" {% if first_name %} value="{{ first_name }}" {% endif %} name="first_name"/>
        lastName <input type="text" {% if last_name %} value="{{ last_name }}" {% endif %} name="last_name"/>        
        email <input type="email" {% if email %} value="{{ email }}" {% endif %} name="email"/>
        <button type="submit">Submit</button>
        </form>
</div>
{% endblock content %}